body {
	background: #231a13;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #221713, #231a13);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #221713, #231a13); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: white;
	font-family: 'Krona One', sans-serif;
	margin: 20px;
}

h1 {
	text-align: center;
	text-shadow: 2px 2px black;
}

h2 {
	text-align: center;
	text-shadow: 2px 2px black;
	opacity: 0;
}

h5 {
	text-align: center;
}

#github {
	text-align: right;
	padding: 20px;
}

#github h4 {
	font-size: 1.2em;
}

.classCol {
	padding: 0;
}

.classText {
	text-transform: uppercase;
	vertical-align: middle;
	text-align: center;
	font-size: 0.75rem;
}

.classIcon {
	margin: 0 auto 3px;
	padding: auto;
	text-align: center;
}

.classIconBox {
	width: 100%;
	display: grid;
	padding: 5px 0;
	margin: 10px auto 0;
	border: 3px solid black;
	height: 160px;
	width: 147px;
	background-color: silver;
	color: black;
}

img {

	max-width:100%;
	max-height:100%;
}

#dh {
	letter-spacing:-1.2px;
	white-space: nowrap;
}

.iconList {
	margin: auto;
	max-width: 100%;
}

.deselected {
	filter: grayscale(100%);
	background-color: gray;
	color: silver;
}

.parameters {
	padding: 30px 15px;
	font-size: 100%;
	margin: auto;
	text-align: center;
}

#picked {
	text-transform: uppercase;
	text-shadow: 2px 2px black;
	text-align: center;
}

.pickedIcon {
	margin-right: 10px;
}

.pickedPlace {
	padding: 10px;
	margin: 10px;
}

.pickedPlace h2 {
	font-size: 3.5rem;
	max-width: 100%;
}