body {
	background: #4ECDC4;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #556270, #4ECDC4);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #556270, #4ECDC4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: white;
	font-family: 'Krona One', sans-serif;
}

h1 {
	text-align: center;
	text-shadow: 2px 2px black;
}

h2 {
	text-align: center;
	text-shadow: 2px 2px black;
	opacity: 0;
}

h5 {
	text-align: center;
}

#github {
	text-align: right;
	padding: 20px;
}

#github h4 {
	font-size: 1.2em;
}

.classText {
	text-transform: uppercase;
	vertical-align: middle;
	text-align: center;
	font-size: 8px;
}

.classIcon {
	width: 70px;
	margin: 0 auto;
	padding: auto;
}

.classIconBox {
	width: 100px;
	display: inline-block;
	padding: 0px 10px 0px 10px;
	margin: 10px 10px 0px 10px;
	border: 3px solid black;
	height: 100px;
	background-color: silver;
	color: black;
}

img {
	width: 75px;
	height: 75px;
}

#dh {
	letter-spacing:-1.2px;
	white-space: nowrap;
}

.iconList {
	width: 60%;
	margin: 20px auto;
	padding: 0 auto;
}

.deselected {
	filter: grayscale(100%);
	background-color: gray;
	color: silver;
}

.parameters {
	padding: 30px;
	font-size: 70%;
}

#picked {
	text-transform: uppercase;
	text-shadow: 2px 2px black;
	text-align: center;
}

.pickedPlace {
	padding: 20px;
	margin: 20px;
}

.pickedPlace h2 {
	font-size: 500%;
}